<%- include('headers/header.ejs') -%>
<%- include('headers/home-header.ejs') -%>
<div class="container my-3">
    <h4 class="text-danger font-weight-bold form-row align-items-center justify-content-center">联系我们</h4>
        <p style="margin-top:0px">全国客服热线
            <span style="font-weight: normal">
                <em class="mr-3">
                    400-666-7788
                </em>
                QQ:
                <em>4006667788</em>
            </span>
        </p>
        <h3 style="border-bottom: #999 1px dashed; padding:10px 0; text-align: center; margin: 15px 0px 10px; color: #aaa;font-size: 20px;">总部</h3>
        <h4 style="padding:10px 0">
            <a  target="_blank" href="http://www.jkchemical.com/">J&K Scientific Ltd. </a>
        </h4>
        <p>
            <div style="padding:5px 0">地址：北京市朝阳区北辰西路69号峻峰华亭A座5层</div>
            <div style="padding:5px 0" >邮编：100029</div>
            <div style="padding:5px 0" >电话：400-666-7788 /+86 10 8284 8833</div>
            <div style="padding:5px 0" >传真：+86 10 8284 9933</div>
            <div style="padding:5px 0" > 电子邮件：<a href="jkinfo@jkchemical.com">jkinfo@jkchemical.com</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="jkinfo@jk-sci.com">jkinfo@jk-sci.com</a></div>
            <h3 style="border-bottom: #999 1px dashed; padding:10px 0; text-align: center; margin: 15px 0px 10px; color: #aaa; font-size: 20px;">子公司</h3>
        </p>

        <h4 style="padding:10px 0">
            <a href="http://www.jkchemical.com/" target="_blank">J&K Chemical Ltd.（上海） </a>
        </h4>
        <p>
            <div style="padding:5px 0">地址：上海市浦东区世纪大道1777号东方希望大厦10楼H座</div>
            <div style="padding:5px 0">邮编：200122</div>
            <div style="padding:5px 0">电话：+86 21 6163 8833</div>
            <div style="padding:5px 0">传真：+86 21 6163 8800</div>
            <div style="padding:5px 0">电子邮件：<a href="jksh@jkchemical.com">jksh@jkchemical.com</a>&nbsp;&nbsp;&nbsp;<a href="jksh@jk-sci.com">jksh@jk-sci.com</a></div>
        </p>
        <h4 style="padding:10px 0">
            <a href="http://www.jkchemical.com/" target="_blank">J&K Scientific Ltd.（广东）</a>
        </h4>
        <p>
            <div style="padding:5px 0">地址：广东省广州市天河区珠江新城华夏路28号富力盈信大厦3108室</div>
            <div style="padding:5px 0">邮编：510623</div>
            <div style="padding:5px 0">电话：+86 20 3888 9733</div>
            <div style="padding:5px 0">传真：+86 10 8284 9933</div>
            <div style="padding:5px 0">电子邮件：<a href="jkgz@jkchemical.com">jkgz@jkchemical.com</a>&nbsp;&nbsp;&nbsp;<a href="jkgz@jk-sci.com ">jkgz@jk-sci.com </a></div>
        </p>
        
        <h4 style="padding:10px 0">
            <a href="http://www.jkchemical.com/" target="_blank">J&K Scientific Ltd.（成都）</a>
        </h4>
        <p>
            <div style="padding:5px 0">地址：四川省成都市高新区科园南路1号1栋8楼803号</div>
            <div style="padding:5px 0">邮编：610041</div>
            <div style="padding:5px 0">电话：+86-028-83231067</div>
            <div style="padding:5px 0">传真：+86 10 8284 9933</div>
            <div style="padding:5px 0">电子邮件：<a href="jkinfo@jkchemical.com">jkinfo@jkchemical.com</a></div>  
        </p>

        <h4 style="padding:10px 0">
            <a href="http://www.jkchemical.com/" target="_blank">J&K Scientific Ltd. (香港)</a>
        </h4>
        <p>
            <div style="padding:5px 0">地址：FLAT/RM 1901, 19/F, Lee Garden One,33 Hysan Avenue, Causeway Bay, Hong Kong</div>
            <div style="padding:5px 0">电话：+852 2810 5022</div>
            <div style="padding:5px 0">传真：+852 2810 5033</div>
            <div style="padding:5px 0">电子邮件：<a href="jkhk@jk-sci.com">jkhk@jk-sci.com</a></div>
        </p>
        <h4 style="padding:10px 0">
            <a href="http://www.jkchemical.com/" target="_blank">J&K Scientific bvba（欧洲）</a>
        </h4>
        <p>
            <div style="padding:5px 0">地址：Louis Pasteurstraat 11 POB 103, B-3920 Lommel, Belgium</div>
            <div style="padding:5px 0">电话：+32 11 340 390</div>
            <div style="padding:5px 0">传真：+32 11 793 917</div>
            <div style="padding:5px 0">电子邮件：<a href="jkeu@jk-sci.com">jkeu@jk-sci.com</a></div>
        </p>

        <h4 style="padding:10px 0">
            <a href="http://www.jkchemical.com/" target="_blank">J&K Scientific LLC（北美）</a>
        </h4>
        <p>
            <div style="padding:5px 0">地址：2033 Gateway Place, Suite 500, San Jose, CA 95110, USA</div>
            <div style="padding:5px 0">电话：+1 952 942 3333</div>
            <div style="padding:5px 0">传真：+1 952 942 3322</div>
            <div style="padding:5px 0">电子邮件：<a href="jkus@jk-sci.com ">jkus@jk-sci.com </a></div>
        </p>
</div>
<%- include('footers/home-footer.ejs') -%>