<%- include('headers/header.ejs') -%>
<%- include('headers/home-header.ejs') -%>
<div class="container my-3">
    <div class="row p-5 m-5">
        <div class="col text-center">
            <i class="fa fa-exclamation fa-9x text-warning" aria-hidden="true"></i>
        </div>
        <div class="col">
            <p class="h3">抱歉，页面无法访问...</p>
            <p class="text-mute">
                请检查网址是否有误。
            </p>
        </div>
    </div>
</div>
<%- include('footers/home-footer.ejs') -%>