<!DOCTYPE html>
<html style="height: 100%; padding: 0; margin: 0;">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/jk-web/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/jk-web/css/font-awesome.min.css" />    
<style>
    a {
        color: gray;
        text-decoration: none;
        font-size: 80%;
    }
    a:hover {
        color: darkblue;
        text-decoration: none;
    }
</style>
<script>
    function onClick() {
        window.open('https://shop.jkchemical.com/?t=3', '_blank');
        return false;
    }
</script>
</head>
<body style="padding: 0.4rem;margin: 0;" class="d-flex h-100 justify-content-end align-items-end">
    <a href="/" class="ml-2" onclick="return onClick()">注册</a> 
    <a href="/" class="ml-2" onclick="return onClick()">登录</a>
    <a href="/" class="ml-2" onclick="return onClick()"><i class="fa fa-shopping-cart"></i> 购物车</a>
</body>
</html>