<style>
    .map ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    .map ul>li {
        width: 180px;
        text-align: center;
        padding: 10px;
    }
    .map h5 {
        background-color: #efefef;
        padding: 10px 0 10px 20px;
    }
</style>
<div class="map">
    <h4>网站地图</h4>
    <div>
        <h5>+ 首页</h5>
        <ul>
            <li>首页</li>
        </ul>
        <h5>+ 百灵威简介</h5>
        <ul>
            <li>公司概况</li>
            <li>核心力量</li>
            <li>旗下品牌</li>
            <li>联系我们</li>
            <li>招贤纳士</li>
            <li>新闻中心</li>
        </ul>
        <h5>+ 产品与服务</h5>
        <ul>
            <li>产品搜索</li>
            <li>J&K® 产品</li>
            <li>Category</li>
            <li>CAS索引</li>
            <li>官能团索引</li>
            <li>产品名称索引</li>
            <li>元素分类索引</li>
            <li>分析方法索引</li>
            <li>COA\MSDS\SPEC</li>
        </ul>
        <h5>+ 资料中心</h5>
        <ul>
            <li>有机化学</li>
            <li>分析化学</li>
            <li>生物化学</li>
            <li>材料化学</li>
            <li>试验耗材</li>
            <li>药物研究</li>
            <li>电子期刊</li>
        </ul>
        <h5>+ 会员服务</h5>
        <ul>
            <li>修改信息</li>
            <li>密码修改</li>
            <li>购物车</li>
            <li>订单跟踪</li>
            <li>订单进展</li>
            <li>收藏夹</li>
            <li>用户登陆</li>
            <li>用户注册</li>
        </ul>
        <h5>+ 产品领域索引</h5>
        <ul>
            <li>化学产品</li>
            <li>分析产品</li>
            <li>生命科学</li>
            <li>材料化学</li>
            <li>仪器耗材</li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h5>+ 信息页面</h5>
        <ul>
            <li>法律声明</li>
            <li>用户指南</li>
            <li>网站地图</li>
            <li>选择国家</li>
            <li>找回密码</li>
        </ul>
    </div>
</div>