<%- include('headers/header.ejs') -%>
<%- include('headers/home-header.ejs') -%>
<style>
    .map ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .map ul>li {
        width: 180px;
        text-align: center;
        padding: 10px;
    }

    .map h6 {
        background-color: #efefef;
        padding: 10px 0 10px 20px;
    }
</style>
<div class="container py-3 map">
    <h5 class="mb-3">网站地图</h5>
    <div>
        <h6>+ 首页</h6>
        <ul>
            <li><a href="<%=$root%>">首页</a></li>
        </ul>
        <h6>+ 百灵威简介</h6>
        <ul>
            <li><a href="https://www.jkchemical.com/Company-inf.aspx">公司概况</a></li>
            <li><a href="https://www.jkchemical.com/company-core.aspx?language=ch">核心力量</a></li>
            <li><a href="https://www.jkchemical.com/brand.aspx?language=ch"></a> 旗下品牌</li>
            <li><a href="contact"> 联系我们</a></li>
            <li><a href=""> 招贤纳士</a></li>
            <li><a href=""> 新闻中心</a></li>
        </ul>
        <h6>+ 产品与服务</h6>
        <ul>
            <li><a href="">产品搜索</a></li>
            <li><a href="">J&K® 产品</a></li>
            <li><a href="">Category</a></li>
            <li><a href=""></a>CAS索引</li>
            <li><a href=""></a>官能团索引</li>
            <li><a href=""></a>产品名称索引</li>
            <li><a href=""></a>元素分类索引</li>
            <li><a href=""></a>分析方法索引</li>
            <li><a href="ProductResources">COA\MSDS\SPEC</a></li>
        </ul>
        <h6>+ 资料中心</h6>
        <ul>
            <li><a href=""></a>有机化学</li>
            <li><a href=""></a>分析化学</li>
            <li><a href=""></a>生物化学</li>
            <li><a href=""></a>材料化学</li>
            <li><a href=""></a>试验耗材</li>
            <li><a href=""></a>药物研究</li>
            <li><a href=""></a>电子期刊</li>
        </ul>
        <h6>+ 会员服务</h6>
        <ul>
            <li><a href=""></a>修改信息</li>
            <li><a href=""></a>密码修改</li>
            <li><a href=""></a>购物车</li>
            <li><a href=""></a>订单跟踪</li>
            <li><a href=""></a>订单进展</li>
            <li><a href=""></a>收藏夹</li>
            <li><a href=""></a>用户登陆</li>
            <li><a href=""></a>用户注册</li>
        </ul>
        <h6>+ 产品领域索引</h6>
        <ul>
            <li><a href=""></a>化学产品</li>
            <li><a href=""></a>分析产品</li>
            <li><a href=""></a>生命科学</li>
            <li><a href=""></a>材料化学</li>
            <li><a href=""></a>仪器耗材</li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
        <h6>+ 信息页面</h6>
        <ul>
            <li><a href=""></a>法律声明</li>
            <li><a href=""></a>用户指南</li>
            <li><a href=""></a>网站地图</li>
            <li><a href=""></a>选择国家</li>
            <li><a href=""></a>找回密码</li>
        </ul>
    </div>
</div>
<%- include('footers/home-footer.ejs') -%>