body {
    font-family: 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}
.container h3 {
    color: #494949;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-top: 10px;
}
 
.container p{
    margin-bottom:0.7em;
}

.container p, .container ul li {
    letter-spacing: 1.2px;
    text-align: justify;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8em;
}


ol.refer, .refer a {
    color: #3288e6;
    font-size: 14px;
    line-height: 1.8em;
}


.container .pic-wrap {
    margin: 10px 0;
}
.container .pic-wrap .pic {
    border: 1px solid #c5c5c5;
}
.container .pic-wrap span {
    line-height: 1.8em;
    margin-bottom: 0.7em;
    font-size: 13px;
    display: block;
    padding-top: 10px;
    color: #555d66;
    text-align: center;
}

.accordion .btn:focus{
    box-shadow: unset;
}
.accordion {
    border-bottom: 1px solid #E58543;
    position: relative;
}
.accordion i {  
    right: 10px;
    position: absolute;
    top: 10px;
}
.accordion img{
  text-align: center;
}
.accordion:hover, .accordion a:hover,  .accordion i:hover{
  color: #d26a23;
  border-radius: 0;
}
.accordion a {
  font-size: 20px;
  color: #E58543;
}
.accordion-content h3 {
  font-weight: bold;
    margin-top: 20px;
    line-height: 1.5em;
    font-size: 14px;
}
.accordion-content h3 a {
    font-size: 16px;
    color: #3287e6;
    font-weight: bold;
}
.accordion-content h5 {
    color: #727272;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;
}
.accordion-content p {
    letter-spacing: 0;
    font-size: 14px;
    line-height: 1.6em;
    margin-bottom: 0;
}


.title-top-line-right-angle {
	border-top-width: 0.15em;
	border-top-style: solid; 
	padding-top: 0.1rem;
}

.first-char-large::first-letter {
	font-size: 1.5em;
	letter-spacing: 0.1em;
}
.first-line-height-small::first-line {
	line-height: 1.5em; 
}
.title-top-line {
	border-top-width: 0.15em;
	border-top-style: solid; 
	padding-top: 0.1rem;
}
.bg-center-img {
	border-style:none;
	border-width:0;
	background-size:contain;
	background-position: center; 
	background-repeat: no-repeat;
}
.font-song {font-family: 宋体, simsun, 'Times New Roman', Times, serif;}
.font-hei {font-family: 微软雅黑, simhei, Arial;}
.bold {font-weight: bold;}
.w-3c {width: 3rem;min-width: 3rem;}
.w-3-5c {width: 3.5rem;min-width: 3.5rem;}
.w-4c {width: 4rem;min-width: 4rem;}
.w-5c {width: 5rem;min-width: 5rem;}
.w-6c {width: 6rem;min-width: 6rem;}
.w-8c {width: 8rem;min-width: 8rem;}
.w-min-3c {min-width: 3rem;}
.w-min-4c {min-width: 4rem;}
.w-min-5c {min-width: 5rem;}
.w-min-6c {min-width: 6rem;}
.w-min-8c {min-width: 8rem;}
.h-3c {height: 3rem;min-height: 3rem;}
.h-3-5c {height: 3.5rem;min-height: 3.5rem;}
.h-4c {height: 4rem;min-height: 4rem;}
.h-5c {height: 5rem;min-height: 5rem;}
.h-6c {height: 6rem;min-height: 6rem;}
.h-8c {height: 8rem;min-height: 8rem;}
.h-max-3c {max-height: 3rem;}
.h-max-3-5c {max-height: 3.5rem;}
.h-max-4c {max-height: 4rem;}
.h-max-5c {max-height: 5rem;}
.h-max-6c {max-height: 6rem;}
.h-max-8c {max-height: 8rem;}
.text-dark-blue {color: darkblue;}
.text-gray {color: #b0c0e0;}
.category-icon {display: block; left:1rem; top:0.2rem; width: 2.5rem;height:2.5rem;}
@media (min-width: 576px) {
	.category-sm-icon {display: none;}
	.w-sm-100 {width: 100% !important;}
	.w-sm-75 {width: 75% !important;}
	.w-sm-50 {width: 50% !important;}
	.w-sm-25 {width: 25% !important;}
}
@media (min-width: 768px) {
	.category-md-icon {display: block; left:0.1rem; top:0.4rem; width: 1.8rem;height:1.8rem;}
	.w-md-100 {width: 100% !important;}
	.w-md-75 {width: 75% !important;}
	.w-md-50 {width: 50% !important;}
	.w-md-25 {width: 25% !important;}
}
@media (min-width: 992px) {
	.category-lg-icon {display: block; left:0.1rem; top:0.2rem; width: 2.5rem;height:2.5rem;}
	.w-lg-100 {width: 100% !important;}
	.w-lg-75 {width: 75% !important;}
	.w-lg-50 {width: 50% !important;}
	.w-lg-25 {width: 25% !important;}
}

div.caidan div ul.erji {
    display: none;
}

div.caidan div:hover ul.erji {
    display: block;
}