<!DOCTYPE html>
<html>

<head>
    <title><%=$title? $title : '百灵威科技 -- 专业高端化学试剂供应商'%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/jk-web/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/jk-web/css/font-awesome.min.css" />
    <link rel="stylesheet" href="<%=$root%>css/style.css" />
    <script src="../../js/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../../js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="../../js/jk.js" crossorigin="anonymous"></script>

    <% 
    function csv(text) {
        if (typeof text !== 'string') return text;
        let ret = [];
        if (!text) return ret;
        let lines = text.split('\n');
        for (let line of lines) {
            let rArr = line.split('\t');
            if (rArr.length === 1) {
                let c0 = rArr[0].trim();
                if (c0.length === 0) continue;
                rArr[0] = c0;
            }
            ret.push(rArr);
        }
        return ret;
    }
    %>
</head>

<body style="padding: 0;">