<style>
    .v-middle {
        vertical-align: middle;
    }
    a.jk-logo {
        text-decoration: none;
        color: black;
    }
    a.jk-logo:hover {
        color: darkred;
    }
</style>
<header class="d-none d-sm-block" style="box-shadow: 0.1em 0.2em 0.3em lightgray;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 d-flex align-items-center">
                <a class="jk-logo d-flex align-items-center" href="<%=$root%>">
                    <img class="w-3c mr-2" src="<%=$root%>/img/jklogo130x130.png">
                    <span class="h4 mb-0 font-weight-bold position-relative font-hei">
						<span class="text-gray">百灵威科技</span>
						<span class="position-absolute text-dark" style="right:-1px;bottom:-1px;">百灵威科技</span>
					</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 bg-white">
                <div class="d-flex d-sm-block flex-sm-column">
                <div class="flex-grow-1">
                    <div class="text-right pb-2 py-sm-2">
                        <small class="v-middle">
                            <span class="fa-stack text-primary">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                            </span>
                        </small>
                        <span class="d-none d-sm-inline text-muted small v-middle">订购/客服: </span>
                        <b class="v-middle">400-666-7788</b>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <iframe src="<%=$root%>iframe" width="" 
                        frameborder="0" scrolling="no" 
                        style="border:none; width:10em; height: 1.8em;"></iframe>
                </div>
            </div>
            </div>
        </div>
    </div>
</header>

<header class="d-sm-none py-2" style="border-bottom: 0.1rem red solid;">
    <div class="container text-danger h5 pb-0 mb-0">
        <img src="<%=$root%>/img/jklogo130x130.png" class="w-3c" /> 百灵威科技
    </div>
</header>


