<style>
    .header-top a {
        color: lightgray;
        text-decoration: none;
    }
    .header-top a:hover {
        color: white;
    }
    .v-middle {
        vertical-align: middle;
    }
</style>
<header class="d-none d-sm-block" style="border-bottom: 0.2rem red solid;">
    <div class="container py-b">
        <div class="row">
            <div class="col-sm-6 col-md-8  position-relative" style="min-height:5rem;overflow:hidden;">
            <img class="position-absolute" src="https://www.jkchemical.com/index_img/JK_name.gif" 
                style="z-index:-1;bottom:0.3rem;">
            </div>
            <div class="col-sm-6 col-md-4 bg-white">
                <div class="d-flex d-sm-block flex-sm-column">
                <div class="flex-grow-1">
                    <div class="text-right pb-2 py-sm-2">
                        <small class="v-middle">
                            <span class="fa-stack text-primary">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                            </span>
                        </small>
                        <span class="d-none d-sm-inline text-muted small v-middle">订购/客服: </span>
                        <b class="v-middle">400-666-7788</b>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <iframe src="<%=$root%>iframe" width="" 
                        frameborder="0" scrolling="no" 
                        style="border:none; width:10em; height: 1.8em;"></iframe>
                </div>
            </div>
            </div>
        </div>
    </div>
</header>

<header class="d-sm-none py-2" style="border-bottom: 0.1rem red solid;">
    <div class="container text-danger h5 pb-0 mb-0">
        <img src="https://c.jkchemical.com/content-test/images/icons/icon-72x72.png" class="w-3c" /> 百灵威科技
    </div>
</header>


