<div class="breadcrumbs-wrap">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#">首页</a>
            <a href="#">资讯中心 </a>
            <span>栏目名称</span>
        </div>
    </div>
</div>
<div class="container mt-lg-5">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7 article mr-lg-40">
            <div class="article-post">