<div class="breadcrumbs-wrap">
    <div class="container">
        <div class="breadcrumbs">

        </div>
    </div>
</div>
<section class="container mt-lg-2">
    <div class="row">
        <div class="col-lg-9 article mr-lg-40">
            <div class="article-post">
                <% let { caption, $update }= current; %>
                <h1> 修饰性PEG产品—多种类，多分子量，多官能团修饰</h1>
                <div class="date mr-lg-10">发表于 <span><%=$update%></span> </div>
                <div class="h-sub mb-3">

                    <% 
                    if(postsubject.length > 0){
                    for(var i=0;i<postsubject.length;i++){    
                        let { id, name } = postsubject[i];
                    %>
                    | <a href="<%=$root%>subjectpost/<%=id%>"><%=name%></a>
                    <% } } else {%>
                    &nbsp;
                    <% } %>
                </div>