<div class="article-post">
    <% let { caption, $update }=postArticle; %>
        <h1>
            <%=caption%>
        </h1>

        <div class="h-sub my-3">

        </div>
        <%- content %>
</div>