
<footer class="bg-light py-2 mt-3 text-center"
style="border-top: 0.1rem red solid;">
<div class="container">
    <div><span class="text-muted small">订购/客服: </span><b>400-666-7788</b></div>
</div>
</footer>

</body>
</html>
