
<footer class="bg-light py-2 mt-3 text-center"
style="border-top: 0.1rem red solid;">
<div class="container">
    <div>
        <span class="fa-stack fa text-primary">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
        </span>
        &nbsp;
        <span class="text-muted small">订购/客服: </span><br><b>400-666-7788</b>
    </div>
</div>
</footer>

</body>
</html>
