
<footer class="d-none d-sm-block bg-light py-2 mt-3 text-center"
style="border-top: 0.1rem red solid;">
<div class="container">
    <div class="mb-1">
        法律声明 | 用户指南 | 网站地图 | 联系我们 | Change Region
    </div>
    <div class="text-muted small ">©Copyright J&K Scientific Ltd., All Rights Reserved.  保留所有权利。严禁在未经同意的情况下使用本网站所有信息。  京ICP备09071033号-3 京公网安备11010502027473</div>
</div>
</footer>


<footer class="d-sm-none bg-light py-2 mt-3 text-center"
style="border-top: 0.1rem red solid;">
<div class="container">
    <div>
        <span class="fa-stack fa text-primary">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
        </span>
        &nbsp;
        <span class="text-muted small">订购/客服: </span><b>400-666-7788</b>
    </div>
</div>
</footer>

</body>
</html>
